.game
{
	width: 565px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}

.container > .jumbotron
{
	padding-top: 10px;
	padding-bottom: 20px;
}

td
{
	height: 75px;
	width: 75px;
	border-radius: 40px;
	border: 5px #302a2a solid;
	cursor: pointer;
	background: linear-gradient(150deg, #b4c1c6 0%,#56595c 100%);
	box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
}

.blueChips
{
	background: linear-gradient(150deg, #6ec5e7 0%,#0d3359 100%);
}

.redChips
{
	background: linear-gradient(150deg, #fd6565 0%,#800707 100%);
}